@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Libre+Bodoni:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu&display=swap");
* {
  font-family: "Roboto", sans-serif;
  margin: 0px;
  padding: 0px;
}
body {
  background: linear-gradient(45deg, #77c3fd, #6d7cfd, #b3aafc);
  color: white;
  background-color: hsla(0, 0%, 0%, 0.387);
}
.header {
  /* height: 100vh; */
  /* width: 100%; */
}
nav {
  margin-left: 10vw;
}
.left h1 {
  font-family: "Libre Bodoni", serif;
}

.left p {
  font-size: 22px;
  font-family: "Ubuntu", sans-serif;
}

.links i {
  display: none;
}
.nav_bar {
  display: flex;
  height: 10vh;
  display: flex;
  /* background-color: royalblue; */
  background-color: rgba(0, 0, 0, 0.481);
  justify-content: space-between;
  align-items: center;
}
.logo {
  font-size: 38px;
  font-weight: 700;
  margin-top: 20px;
  margin-left: 50px;
}
.links {
  margin-top: 12px;
  margin-right: 3.5vmax;
  font-size: 20px;
  display: flex;
  column-gap: 4vw;
  padding: 1vmax;
}
span {
  font-family: "Libre Bodoni", serif;
  color: red;
}
.main_container {
  height: calc(100% - 80px);
  width: 100%;
  /* background-color: #fff; */
  background-color: rgba(0, 0, 0, 0.481);
  display: flex;
  flex-wrap: wrap;
}
.main_container .left {
  box-sizing: border-box;
  padding: 8rem;
  padding-top: 7rem;
  height: 90vh;
  width: 50%;
  /* background-color: lightgrey; */
  background-color: rgba(0, 0, 0, 0.481);
}
.main_container .right {
  height: 90vh;
  width: 50%;
  /* background-color: rgb(168, 253, 172); */
  background-color: rgba(0, 0, 0, 0.481);
}
.main_container .right img {
  margin-top: 15vh;
  width: 35vw;
  margin-left: 10vw;
  height: 40vmax;
  border-radius: 18px;
}
nav ul li {
  list-style: none;
}
nav ul li a {
  text-decoration: none;
  color: white;
}
nav ul li a::after {
  content: "";
  width: 0;
  height: 3px;
  background: #ff004f;
  position: absolute;
  left: 0;
  bottom: -6px;
  transition: 0.5s;
}
nav ul li a:hover::after {
  width: 100%;
}

/* ------------------about------------------- */
#about {
  padding: 2rem 3rem;
  box-sizing: border-box;
  color: black;
  height: auto;
  margin-top: 40px;
}
.row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  overflow: hidden;
}

.column_1 {
  flex-basis: 35%;
}
.column_1 img {
  width: 100%;
  border-radius: 15px;
}

.column_2 {
  flex-basis: 60%;
  overflow: hidden;
}
.sub-heading {
  font-family: "Libre Bodoni", serif;
  margin: 10px 0;
  font-size: 3em;
  color: #fff;
  font-weight: 700;
}
.hero {
  overflow: hidden;
}
.sub_containers button {
  background: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  margin-right: 50px;
  font-size: 20px;
  font-weight: bold;
}

.sub_containers button:hover {
  color: #ff005193;
}

.sub_containers {
  display: flex;
  margin: 20px 20px 10px 0px;
  /* column-gap: -5px; */
}
.links {
  margin-right: 50px;
  font-weight: 500;
  cursor: pointer;
  position: relative;
}
.links::after {
  content: "";
  width: 0;
  height: 3px;
  background: #ff004f;
  position: absolute;
  left: 0;
  bottom: -8px;
  transition: 0.5s;
}

.contents ul li {
  list-style: none;
  margin: 10px 0;
}

.contents ul li span {
  color: #ff004f;
  font-size: 14px;
}

.contents {
  /* display: none; */
  overflow: hidden;
  width: 50%;
  position: absolute;
  /* transform: translateX(100%); */
}
.contents ul {
  transform: translateX(100%);
}

/* .contents.tab1{
    display: block;

} */
#Content1 ul {
  transform: translateX(0px);
}

/* -------------------services--------------------- */

#services {
background-color: #2E2D43;
  /* display:flex;  */
  width: 100%;
  height: auto;
  position: relative;
  margin: 75px auto;
  padding: 4rem 8rem;
  box-sizing: border-box;
  color: white;
  /* background-color:rgba(0, 0, 0, 0.481);  */
  /* overflow: hidden; */
}
/* .container {
  margin: 80px 80px;
}
.about-services {
  position: absolute;
  transform: translateX(100%);
}

.content-left {
  position: absolute;
} */
.content-left h1 {
  margin-top: 25px;
  margin-bottom: 10px;
}
.content-left p {
  margin-top: 0;
  margin-bottom: 1rem;
  margin-right: 10vw;
  font-size: 20px;
}

.services-list {
  /* display: flex;
  column-gap: 3rem;
  border-bottom: 1px solid #ccc; */
}

.services-list button {
  font-size: 2vh;
  padding: 16px 20px;
  margin-right: 50px;
  margin-bottom: 17px;
  color: white;
  background: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  font-weight: bold;
}

.services-list .fa {
  margin-right: 15px;
}
/* #content-1 {
  transform: translateX(0px);
} */
#btn1 {
  color: #ff004f;
}

/* ----------------portfolio section------------------------   */

#portfolio {
  padding: 0rem 4rem;
  height:auto;
}

.worklist {
  display: flex;
  /* justify-content: space-evenly; */
  column-gap: 8vw;
  flex-wrap: wrap;
}
.work {
  margin-top: 40px;
  border-radius: 10px;
  /* overflow: hidden; */
  position: relative;
}
.work img {
  /* width: fit-content; */

  height: 50vh;
  width: 20vmax;
  /* display: block; */
  transition: transform 0.5s;
  border-radius: 18px;
}
.layer {
  width: 80%;
  height: 0;
  background: linear-gradient(rgba(0, 0, 0, 0.6), #ff004f);
  position: absolute;
  left: 0;
  bottom: 0;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 40px;
  text-align: center;
  overflow: hidden;
  flex-wrap: wrap;
  font-size: 14px;
  transition: height 0.5s;
}
.layer h3 {
  font-weight: 700;
  margin-bottom: 20px;
}

.layer a {
  margin-top: 20px;
  color: #ff004f;
  text-decoration: none;
  font-size: 18px;
  line-height: 60px;
  background: #fff;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  text-align: center;
}

.work:hover img {
  transform: scale(1.1);
}

.work:hover .layer {
  height: 100%;
}

.btn {
  display: block;
  margin: 50px auto;
  width: fit-content;
  /* border: 1px solid #ff004f; */
  padding: 14px 50px;
  border-radius: 6px;
  text-decoration: none;
  color: black;
  transition: 0.5s;
  background-color: white;
  border-radius: 20px;
}

.btn:hover {
  background-color: lightgray;
  cursor: pointer;
  color: black;
}

/* ----------------------------contact form---------------------------- */
/* .form-floating mb-3.contactbtn{
    width: 80vmax;
} */
#contact{
    background-color: rgba(0, 0, 0, 0.488);
}
.mail{
    margin-left: 8vw;
    margin-bottom: 5vh;
}


form{
    display: flex;
    flex-direction: column;
    row-gap: 30px;
}
form input,textarea{
    border-radius: 18px;
    padding: 15px;
    display: block;
    margin-top: 18px;
    width: 80%;
    outline: none;
    border: none;
    
}
#contact label{
    font-size: 24px;
    font-weight: bold;
    margin-left: 2vw;
}
#contact h1{
    padding-top:20px ;
    margin-left: 10vw ;
    color: #ff004f;
    font-weight: 1000;
    margin-bottom: 42px;
    font-family: "Libre Bodoni", serif;
}

.input-box2 button{
   margin-left: 25vw;
   margin-bottom: 10vh;
   padding: 10px 20px;
   width: fit-content;
   border-radius: 24px;
   border: none;
}

.input-box2 button:hover{
    background-color: lightgrey;
}


/* ------------------------------css for small screens------------------------------ */
/* ------------------making your website responsive--------------------- */
nav.fa {
  display: none;
}
@media only screen and (max-width: 600px) {
  .links i {
    display: block;
  }
  /* --------------top page--------------------- */
  .main_container .left {
    box-sizing: border-box;
    padding: 6rem;
    padding-top: 6rem;
    padding-bottom: 3rem;
    height: 75vmin;
    width: 100%;
    /* background-color: lightgrey; */
    background-color: rgba(0, 0, 0, 0.481);
    font-size: 30px;
  }

  .main_container .right {
    height: 90vh;
    width: 100%;
    /* background-color: rgb(168, 253, 172); */
    background-color: rgba(0, 0, 0, 0.481);
  }
  .main_container .right img {
    margin-left: 5vh;
    border-radius: 15px;
    width: 80%;
    height: 70%;
  }
  .main-container h1 {
    font-size: small;
  }
  .main-container.left {
    width: 100vw;
  }
  .main-container.left h1 {
    font-size: 16px;
  }
  nav .fa {
    display: block;
    font-size: 25px;
  }

  nav ul li {
    display: none;
  }

  .column_1 img {
    width: 100%;
    border-radius: 15px;
    height: 29vh;
    width: 49vw;
  }

  .sub-heading {
    font-family: "Libre Bodoni", serif;
    margin: 20px 0;
    font-size: 3em;
    color: #fff;
    font-weight: 700;
  }
  /* .links{
        font-size: 12px;
        margin-right: 5px;
    } */
  #about {
    /* height: 95vmax; */
  }
  /* -------------------services--------------------- */
  #services {
    /* display: flex; */
    /* width: 100%; */
    height: 180vmax;
    position: relative;
    margin: 85px auto;
    padding: 4rem 3rem;
    box-sizing: border-box;
    color: #ababab;
    background-color: rgba(0, 0, 0, 0.481);
    /* overflow: hidden; */
  }

  .worklist {
    display: flex;
  }
  .work img {
    /* width: fit-content; */
    height: 60vh;
    width: 70vw;
    display: block;
    transition: transform 0.5s;
    border-radius: 18px;
  }

  #portfolio {
    width: 100%;
  }

  .hero {
    height: 45vh;
    /* overflow: hidden; */
  }

  .sub_containers button {
    font-size: 14px;
    margin-right: 0px;
    font-weight: 700;
  }

  .column_2 {
    /* flex-basis: 0%; */
    overflow: hidden;
  }

  .content-left p{
    font-size: 14px;
  }
}
